{% extends 'base.html.twig' %}

{% block title 'invalid link' %}

{% block body %}
    <div class="wrapper">
      <div class="block-center mt-4 wd-xl">
         <!-- START card-->
         <div class="d-flex justify-content-center">
            <div class="p-2">Vérification</div>
         </div>
         <div class="card b0">
            <div class="card-body">
               <p class="text-center">Un mail de Vérification vous a été envoyé.</p>

               </div><a class="btn btn-block btn-primary mt-3" href="{{ path('app_user_verif_resend', { id:user.id }) }}">Renvoyer</a>
            </div>
         </div><!-- END card-->
         {% include "_short_footer.html.twig" %}
      </div>
   </div>
{% endblock %}