{% extends 'base.html.twig' %}

{% block title 'forgotten Password' %}

{% block stylesheets %}
   {{ encore_entry_link_tags('forgotten-password') }}
{% endblock %}

{% block body %}
    <div class="wrapper">
      <div class="block-center mt-4 col-lg-8">
         <!-- START card-->
         <div class="card card-flat">
            <div class="card-header text-center bg-dark"><a href="{{path('app_forgotten_password')}}">MON MOT DE PASSE</a></div>
            <div class="card-body">
                {% include "_flash_message.html.twig" %}

               <div id="smartwizard">

                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#step-h">
                                Mode <br /> <small>Mail ou Telephone</small>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#step-a">
                                Code <br /> <small>code envoyé</small>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#step-f">
                                Step 3
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="step-h" class="tab-pane" role="tabpanel" aria-labelledby="step-1">
                            <div class="option-moyen">
                                <input type="radio" id="moyen" name="moyen" value="1" checked> PAR MAIL
                                <input type="radio" id="moyen" name="moyen" value="2" style="margin-left:20px">  PAR TELEPHONE
                            </div>
                            <div id="mail" style="margin-top:30px">
                                <p class="text-center">Remplissez votre e-mail pour la réinitialisation de votre mot de passe</p>
                                <div id="error-step-1"></div>
                                <div class="form-group"><label class="text-muted" for="resetInputEmail">Adresse e-mail</label>
                                    <div class="input-group with-focus"><input class="form-control border-right-0" id="email" name="email" type="email" placeholder="Ex: example@example.com" autocomplete="off" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text text-muted bg-transparent border-left-0"><em class="fa fa-envelope"></em></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="phone" style="display:none;margin-top:30px">
                                <p class="text-center">Remplissez votre numéro pour la réinitialisation de votre mot de passe</p>
                                <div class="form-group"><label class="text-muted" for="resetInputPhone">Téléphone</label>
                                    <div class="input-group with-focus"><input class="form-control border-right-0" id="phone" name="phone" type="number" placeholder="Ex: 93432250" autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text text-muted bg-transparent border-left-0"><em class="fa fa-phone"></em></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="step-a" class="tab-pane" role="tabpanel" aria-labelledby="step-2">
                            <div style="margin-top:30px">
                                <p class="text-center">Un code vous a été envoyé sur votre <span id="choix">mail</span>, renseignez le</p>
                                <div id="error-step-2"></div>
                                <div class="form-group"><label class="text-muted" for="resetCode">Le code</label>
                                    <div class="input-group with-focus"><input class="form-control border-right-0" id="code" name="code" type="text" autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text text-muted bg-transparent border-left-0"><em class="fa fa-code"></em></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="step-f" class="tab-pane" role="tabpanel" aria-labelledby="step-3">
                            Step 3 Content
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        {% include "_short_footer.html.twig" %}
         
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('forgotten-password') }} 
{% endblock %}