{% extends 'base.html.twig' %}

{% block title 'Register' %}

{% block body %}
<div class="wrapper">

    {% include "_header.html.twig" %}
    {% include "_aside.html.twig" %}

    <section class="section-container">
        <!-- Page content-->
        <div class="content-wrapper">
            <div class="content-heading">
               <div>Modification de {{ user.name }}<small>Formulaire</small></div>
               <div class="ml-auto"><a class="btn btn-sm btn-primary text-sm" href="{{path('app_user_list')}}">Retour</a></div>
            </div>         
            {% include "_flash_message.html.twig" %}
            <div class="row">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-body">  
                            {{ include('security/_register_form.html.twig', {form: form, button: 'Editer'}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
