.git
.github
.idea
.vscode
node_modules
var/cache
var/log
var/backups
var/sessions
.env
.env.local
.env.*.local
tests
docs
*.md
!README.md
docker-compose*.yml
Dockerfile
.phpunit.result.cache
phpunit.xml.dist
