<div class="btn-group mb-1">
	<button class="btn dropdown-toggle btn-primary" type="button" data-toggle="dropdown">Actions</button>
	<div class="dropdown-menu" role="menu">
		<a class="dropdown-item" href="{{ path('cible', {cible: row.id}) }}">Modifier</a>
  	<div class="dropdown-divider"></div>
  	<a class="dropdown-item delCible" href="{{ path('deleteCible', {attaque: row.id}) }}">Supprimer</a>
</div>
