
{% set alertClass = {
    'success': 'success',
    'warning': 'warning',
    'danger': 'danger',
    'error': 'danger',
    'info': 'info'
} %}
{% set alertTitle = {
    'success': 'flash.title.success',
    'warning': 'flash.title.warning',
    'danger': 'flash.title.danger',
    'error': 'flash.title.danger',
    'info': 'flash.title.info'
} %}

{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ alertClass[type]|default(type) }} alert-dismissible fade show" role="alert">
            <button class="close" type="button" data-dismiss="alert" aria-label="{{ 'flash.close'|trans }}">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ alertTitle[type]|default(type)|trans }} —</strong>
            {{ message|trans }}
        </div>
    {% endfor %}
{% endfor %}
