<div class="p-3 text-center"><span class="mr-2">&copy;</span><span>{{ 'now' | date('Y') }}</span><span class="mr-2">-</span><span>{{ paramData.object ? paramData.object.name : 'footer.database_default'|trans }}</span><br><span></span></div>
